<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/c0e27fec68.js" crossorigin="anonymous"></script>
    <style>
        .fraud-alert {
            color: red;
            font-weight: bold;
            font-size: 2rem;
        }
    </style>
    <title>Transaction Failed - BankAG</title>
</head>

<body class="gradient-background">
    <section class="login-outer-container">
        <div class="login-container">
            <h1 class="fraud-alert">FRAUD!</h1>
            <p>The transaction could not be processed due to suspicious activity.</p>
            <p>Please contact support at <a href="mailto:support@bankag.com">support@bankag.com</a> for assistance.</p>
            <button onclick="location.href='index.html'">Return to Homepage</button>
        </div>
    </section>
    <footer>&copy; 2024 BankAG. All rights reserved.</footer>
</body>

</html>
